[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Thinslave-DiscordBot = {path = ".",editable = true,extras = ['mongo']}

[dev-packages]
tox = "*"
Thinslave-DiscordBot = {path = ".",editable = true,extras = ['docs', 'test', 'style', 'mongo']}
